.mat-card{
    max-width:300px;
    margin:auto;
}

.mat-card-avatar{
    background-image: url('/assets/img/robby.png');
    background-size: cover;
}
.mat-card-actions{
    display: flex;
}
.mat-card-actions .flex-spacer{
    width:100%;
}

